@import './flexboxgrid.scss';

.toggle-popup {
	margin: 0 auto;
}

.input-wrap {
	margin-bottom: 10px;
	padding: 0 6px;
}

.row {
	&.with-pd-l {
		padding-left: 12px;
	}
}

.input {
    height: 40px;
    font-style: italic;
    border-width: 1px;
    border-style: inset;
    border-image: initial;
    border-color: initial;	
    color: $suva-grey;
}

.comment-list {
	&.empty {
		display: none;
	}
	word-wrap: break-word;
	height: 250px;
	overflow-y: auto;
	border-top: 1px solid $athens-grey;

	.reply-wrap {
		padding: 10px 0;
		word-wrap: break-word;
		.icon {
			padding: 0;
		}
		.icon-text {
			padding-left: 6px;
		}
	}

	.view-hide-replies {
		cursor: pointer;
	}

	.comment-icons {
		margin-bottom: 10px;
	}
	.comment-date {
		font-size: 12px;
		color: $paynes-grey;
	}
	.comment-wrap {
		position: relative;
		padding: 10px 0;
		border-bottom: 1px solid $athens-grey;
	}
	.comment {
		list-style-type: none;
		line-height: 30px;
		padding: 6px;	
	}
}

.error-msg {
	padding-top: 10px;
	font-size: 14px;
	color: $alizarin;
}

.overlay-close {
	position: absolute;
	right: -17px;
	top: -17px;
	cursor: pointer;
	img {
		width: 20px;
		height: 20px;
	}
}

.icon-wrap {
	cursor: pointer;
}

.icon {	
	height: 20px;
	width: 20px;
	vertical-align: middle;
	padding: 0 6px;
	&.cancel-icon {
		width: 18px;
		height: 18px;
		padding: 0 0 0 6px;
	}
}

.actions {
	margin-bottom: 20px;
}

.no-pd {
	padding: 0;
}

.icon-text {
	font-size: 12px;
}

.video-container iframe {
	margin-bottom: 10px;
}

.custom-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;	
    background-color: rgba(0,0,0,.75);
    z-index: 1010;

}

.overlay-container {
	position: relative;
	top: 50%;
	max-height: 100%;
	margin: 0 auto;
	transform: translateY(-50%);
}

.overlay-container-inner {
	margin-left: 20px;
	margin-right: 20px;
}

.overlay-content {
	background-color: $white;
    position: relative;
    padding: 12px;	
}


button, .button {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 6px 20px;
	line-height:22px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease;
	background-color: $deep-sky-blue;
	color: $white;
	border: none;
	max-width: 220px;
	border-radius: 10px;

	&.submit-comment {
		border-radius: 0;
		float: right;
	}

	&.btn-black {
		background-color: $black-russian;
		margin-left: 30px;
		&:hover {
			background-color: $bright-grey;
		}
	}

	&.btn-red {
		background-color: $alizarin;
		margin-left: 10px;
		&:hover {
			background-color: $deep-blush;
		}
	}

	&.cancel-reply {
		position: absolute;
		bottom: 25px;
		left: -4px;
		border-radius: none;
	}

	&:hover {
		background-color: $pelorous;
	}
	
	&.primary-button {
	
	}
		
	&.secondary-button {
		background-color: $aluminium;
		
		&:hover {
			background-color: $mid-grey;
		}
	}
	
	&.visually-hidden {
		width: 1px;
		padding: 0;
		border: 0;
	}
	
	&[disabled],
	&.disabled {
		background-color: $very-light-gray;
		border-color: $very-light-gray;
		color: $dim-gray;
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {
			color: $citrus;
		}
	}
}

h1 {
	margin: 20px 0;
}

p {
	margin: 0;
}

h1.striked, h3.striked {
	position: relative;
	text-align: center;

	&:before {
		@media only screen and (min-width: #{$sm-min}px) {
			background: $iron;
			content: "";
			display: block;
			height: 1px;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
		}
	}
	
	span {
		background: $white;
	  	padding: 0 20px;
	  	position: relative;
	  	z-index: 1;
	  	font-size: 27px;
	  	color: $paynes-grey;
	}
}

